@page "/"
@attribute [Authorize(Roles = "user")]
@using Microsoft.EntityFrameworkCore;
@using System.Security.Claims;

<h1>You can only see this if you're authorized.</h1>
@*<h1>Hello, world!</h1>
<button @onclick="AddUser">Add User</button>

Welcome to your new app.*@

<AuthorizeView>
	<Authorized>
		<label>Hello @context.User.Identity.Name!</label>
		<ul>
			@foreach (Claim claim in @context.User.Claims)
			{
				<li>@claim.Type: @claim.Value</li>
			}
		</ul>
	</Authorized>
	<NotAuthorized>
		<label><b style="color: red;">You are not authorized.</b></label>
		<p>@context.User.Identity.Name</p>
		<ul>
			@foreach (Claim c in context.User.Claims)
			{
				<li>@c.Type: @c.Value</li>
			}
		</ul>
	</NotAuthorized>
</AuthorizeView>

@code {

}