@page "/"
@*attribute [Authorize(Roles = "user")]*@
@using Microsoft.EntityFrameworkCore
@using System.Security.Claims
@inject IDbContextFactory<Model.Database> DbContext
@inject NavigationManager NavigationManager

<style>
	#search_bar {
		background: #333844 url(/css/icons/Search.png) right no-repeat;
		padding-right: 17px;
	}
</style>

<AuthorizeView>
	<Authorized>
		@*<label>Hello @context.User.Identity.Name!</label>
		<ul>
			@foreach (Claim claim in @context.User.Claims)
			{
				<li>@claim.Type: @claim.Value</li>
			}
		</ul>*@
		<div class="container-left">
			<div class="main needs-padding">
				<img width="50" height="50" src="/css/icons/Default.jpg" alt="Profile Image" />
				<h4>@_displayName</h4>
				<p class="p-annotation-lg">@_accountName</p>
			</div>
			<div class="main row">
				<button @onclick="NavCreatePost" class="btn-norm">Start a Thread</button>
			</div>
			<div>
				<a href="/pref">
					<img width="50" height="50" src="/css/icons/Settings.png" alt="Settings Image" />
					Preferences
				</a>
			</div>
			<div class="">
				<p class="p-annotation-sm">@*Bottom*@</p>
			</div>
		</div>
		<div class="container-middle">
			<div class="main">
				@foreach (Entity.Thread thread in _threads)
				{
					<ThreadPreview ThreadModel="thread" />
				}
			</div>
		</div>
		<div class="container-right">
			<div class="main needs-padding">
				<h1>HOME <img src="/css/icons/Quick_Settings.png" width="40" height="40"/></h1>
				<p>Sort by:</p>
				<div class="row btn-select">
					<button class="btn-left">New</button>
					<button class="btn-active">Trending</button>
					<button class="btn-right">Old</button>
				</div>
			</div>
			<div class="main row">
				<input id="search_bar" class="input-fg needs-padding" type="text" placeholder="Search @@User, #Tags or Posts" />
			</div>
			<div class="main needs-padding">
				<TrendingNow />
			</div>
		</div>
	</Authorized>
	<NotAuthorized>
		<label><b style="color: red;">You are not authorized.</b></label>
	</NotAuthorized>
</AuthorizeView>

@code {
	[CascadingParameter]
	private Task<AuthenticationState> authenticationStateTask { get; set; }

	private string _displayName;
	private string _accountName;
	private List<Entity.Thread> _threads = new List<Entity.Thread>();

	protected async override Task OnInitializedAsync()
	{
		var authenticationState = await authenticationStateTask;

		if (!authenticationState.User.Identity.IsAuthenticated)
		{
			// Send unauthorized users to the login page
			NavigationManager.NavigateTo("/login");
		}
		else
		{
			using (var db = DbContext.CreateDbContext())
			{
				Entity.User user = db.Users.First(u => u.AccountName == authenticationState.User.Identity.Name);
				_displayName = user.DisplayName;
				_accountName = user.AccountName;
			}

			await LoadThreads();
		}

	}

	private async Task LoadThreads()
	{
		using var db = DbContext.CreateDbContext();

		_threads = db.Threads
			.Include(t => t.Creator)
			.Include(t => t.Forum)
			.Include(t => t.Tags)
			.OrderBy(o => o.Created)
			.Take(50).ToList();
	}

	private void NavCreatePost()
	{
		NavigationManager.NavigateTo("/post");
	}
}