@page "/thread/{Id:int}"
@attribute [Authorize]
@using Microsoft.EntityFrameworkCore
@using System.IO
@* ReSharper disable once InconsistentNaming *@
@inject NavigationManager NavMan
@* ReSharper disable once InconsistentNaming *@
@inject IJSRuntime JSRuntime
@* ReSharper disable once InconsistentNaming *@
@inject Data.InfoMessage MessageService

<div class="container-left fix-left">
	<div class="main row">
		<button class="btn-norm-sec" @onclick="NavHome">
			<img width="50" height="50" src="/css/icons/Arrow_Back.png" alt="Back Arrow" />
			Go Back
		</button>
	</div>
</div>
@* NOTE: '==' and '!=' call the equality operator _which can be overridden_:
 *     public static bool operator ==(<object> a, <object> b) { } 
 * 'is' and 'is not' load the values on the stack and do a simple bit-by-bit
 * comparison, which is more efficient and cannot lie to you.
 *@
@if (_thread is not null)
{
	<div class="container-middle">
		<div class="main needs-padding">
			<p class="p-annotation-sm">
				@_thread.Creator.AccountName@@@_thread.Forum.Name
				@_thread.Created.ToString("t"), @_thread.Created.ToString("d")
			</p>
			<h5 class="txt-title">@_thread?.Title</h5>
			<pre class="txt-title">@_content</pre>
			@{
				var tagText = "";
				// ReSharper disable once LoopCanBeConvertedToQuery
				foreach (var t in _thread.Tags)
				{
					tagText += ' ' + t.Name;
				}
			}
			<small>Tags: @tagText</small>
		</div>
		<div class="second row">
			@* Number of Pages, 20 Comments per Page
		 * ( number_of_comments + comments_per_page - 1 ) / comments_per_page
		 *@
			<p class="p-annotation-sm txt-dark needs-space-lr">@_thread.Comments.Count Comments (@((_thread.Comments.Count + 19) / 20) Pages)</p>
			<p @onclick="CopyLink" class="p-annotation-sm txt-dark needs-space-lr clickable shiny">@_copyLabel</p>
			<p @onclick="SaveThread" class="p-annotation-sm txt-dark needs-space-lr clickable shiny">@(_saved ? "Saved!" : "Save")</p>
			@if (!_thread.IsDeleted &&
			     _thread.Creator == DbContext.Users.First(u => u.AccountName == _authState.User.Identity.Name))
			{
				<p @onclick="Delete" class="p-annotation-sm txt-dark needs-space-lr clickable shiny">Delete</p>
			}
		</div>
		<div class="main">
			<CommentField Thread="@_thread" UpdateHandler="StateHasChanged"/>
		</div>
		@foreach (var c in _thread.Comments)
		{
			if (c.Parent is not null) continue;

			<Comment CommentModel="c"/>
		}
	</div>
	<div class="container-right fix-right">
		<div class="second needs-padding">
			<img width="100" height="100" src="/css/icons/Default.jpg" alt="Forum Image" />
			<h5>@_thread.Forum.Name</h5>
			<p class="p-annotation-sm">@_thread.Forum.Members.Count Mem. / Created @_thread.Forum.Created.ToString("d")</p>
			<pre class="txt-title">@_thread.Forum.Description</pre>
		</div>
	</div>
}
else
{
	<div class="container-middle">
		<div class="main needs-padding">
			<h5 class="txt-title">Thread not found.</h5>
            <pre class="txt-title">Thread @Id doesn't seem to exist.</pre>
		</div>
	</div>
}

@code {
	[Parameter]
	public int Id { get; set; }

	[CascadingParameter]
	private Task<AuthenticationState> AuthenticationStateTask { get; set; }
	[CascadingParameter]
	private Model.Database DbContext { get; set; }

	private Entity.Thread _thread;
	private AuthenticationState _authState;
	
	private string _copyLabel = "Copy Link";
	private string _content;
	private bool _saved;

	protected override async Task OnInitializedAsync()
	{
		_authState = await AuthenticationStateTask; 
		
		_thread = DbContext.Threads
			.Include(t => t.Creator)
			.Include(t => t.Tags)
			.Include(t => t.Forum)
				.ThenInclude(f => f.Members)
			.Include(t => t.Comments)
				.ThenInclude(c => c.Creator)
			.FirstOrDefault(t => t.Id == Id);

		if (_thread is null) return;
		
		if (_thread.IsDeleted)
		{
			_content = "[ Thread deleted. ]";
		}
		else
		{
			try
			{
				var path = _thread.ContentPath;
				var streamReader = new StreamReader(path);
				_content = await streamReader.ReadToEndAsync();
				streamReader.Close();
			}
			catch (Exception)
			{
				_content = "[ An error occurred. ]";
			}
		}

		var user = DbContext.Users.Include(u => u.SavedThreads)
			.First(u => u.AccountName == _authState.User.Identity.Name);

		_saved = user.SavedThreads.Contains(_thread);
	}

	private void NavHome()
	{
		NavMan.NavigateTo("/"); // TODO: Use <a href/> instead
	}

	private async void CopyLink()
	{
		_copyLabel = "Copied!";
		var link = NavMan.Uri;
		await JSRuntime.InvokeVoidAsync("navigator.clipboard.writeText", link);
	}

	private async void SaveThread()
	{
		var user = DbContext.Users
			.Include(u => u.SavedThreads)
			.Include(u => u.Forums)
			.First(u => u.AccountName == _authState.User.Identity.Name);

		if (_saved)
		{
			user.SavedThreads.Remove(_thread);
			_saved = false;
		}
		else
		{
			user.SavedThreads.Add(_thread);
			_saved = true;
		}

		await DbContext.SaveChangesAsync();

		StateHasChanged();
	}

	private async void Delete()
	{
		if (_thread.Creator != DbContext.Users.First(u => u.AccountName == _authState.User.Identity.Name)) return;
		var confirm = await JSRuntime.InvokeAsync<bool>("confirm", "Delete this thread?");

		// ReSharper disable once InvertIf
		if (confirm) 
		{ 
			_thread.IsDeleted = true;
			await DbContext.SaveChangesAsync();
			MessageService.Message = "Thread deleted.";
		}
	}
}
