@using Microsoft.EntityFrameworkCore
@* ReSharper disable once InconsistentNaming *@
@inject IDbContextFactory<Model.Database> DbContext

<style>
	.border-left {
		border-left: 2px solid #9BAEC8 !important;
		border-radius: 0;
	}

	.collapsed {
		padding: 0 0.5rem !important;
		color: gray;
	}

		.collapsed span {
			display: none;
		}

	.btn-w-auto {
		width: auto !important;
	}
</style>

<div class="second needs-padding border-left @_collapseClass">
	<p class="p-annotation-sm">
		<a href="/user/@CommentModel.Creator.AccountName">@CommentModel.Creator.AccountName</a>
		@CommentModel.Created.ToString("t"), @CommentModel.Created.ToString("d")
		<button class="btn-mini btn-w-auto" @onclick="Collapse">[@_clpMsg]</button> @*▬*@
	</p>
	<span>
		<MarkdownView Content="@CommentModel.Text" />
		@* <pre class="txt-title">@CommentModel.Text</pre> *@
		<button class="btn-mini btn-w-auto" @onclick="ToggleCommentField">Answer</button>
		<div class="@_cfClass">
			<CommentField Thread="@CommentModel.Thread" Comment="@CommentModel" UpdateHandler="UpdateAsync"/>
		</div>

		@* ReSharper disable once UnusedVariable *@
		@foreach (var c in _children)
		{
			<Comment CommentModel="c"/>
		}
	</span>
</div>

@code {
	private List<Entity.Comment> _children;
	private string _cfClass = "hidden";
	private string _collapseClass = "";
	private string _clpMsg = "-";

	[Parameter]
	public Entity.Comment CommentModel { get; set; }

	/// <summary>
	/// Initializes the component.
	/// </summary>
	protected override async Task OnInitializedAsync()
	{
		await UpdateAsync();
	}

	/// <summary>
	/// Toggles visibility of the comment field.
	/// </summary>
	private void ToggleCommentField()
	{
		if ("" == _cfClass)
			CloseCommentField();
		else
			OpenCommentField();
	}

	/// <summary>
	/// Hides the comment field.
	/// </summary>
	private void CloseCommentField()
	{
		_cfClass = "hidden";
	}

	/// <summary>
	/// Unhides the comment field.
	/// </summary>
	private void OpenCommentField()
	{
		_cfClass = "";
	}

	/// <summary>
	/// Collapses the comment.
	/// </summary>
	private void Collapse()
	{
		if ("collapsed" == _collapseClass)
		{
			_collapseClass = "";
			_clpMsg = "-";
		}
		else
		{
			_collapseClass = "collapsed";
			_clpMsg = "+";
		}
	}

	/// <summary>
	/// Updates the comment and child comments.
	/// </summary>
	private async Task UpdateAsync()
	{
		await using var dbContext = DbContext.CreateDbContext();

		_children = dbContext.Comments
			.Include(c => c.Childs)
				.ThenInclude(c => c.Creator)
			.Include(c => c.Childs)
				.ThenInclude(c => c.Thread)
			.First(c => c.Id == CommentModel.Id).Childs.ToList();
		
		CloseCommentField();
		StateHasChanged();
	}
}
