@using Microsoft.EntityFrameworkCore
@* ReSharper disable once InconsistentNaming *@
@inject IDbContextFactory<Model.Database> DbContext

<style>
	.border-left {
		border-left: 2px solid #ebdbb2 !important;
		border-radius: 0;
	}

	.collapsed {
		padding: 0 0.5rem !important;
		color: gray;
	}

		.collapsed span {
			display: none;
		}

	.btn-w-auto {
		width: auto !important;
	}
</style>

<div class="main needs-padding border-left @_collapseClass">
	<p class="p-annotation-sm">
		<a href="/user/@CommentModel.Creator.AccountName">@CommentModel.Creator.AccountName</a>
		@CommentModel.Created.ToString("t"), @CommentModel.Created.ToString("d")
		<button class="btn-mini btn-w-auto" @onclick="Collapse">[@_clpMsg]</button>
		@* <button class="btn-mini btn-w-auto" @onclick="Collapse">[@CommentModel.CountChildren]</button>*@
	</p>
	<span>
		<MarkdownView Content="@CommentModel.Text" />
		<button class="btn-mini btn-w-auto" @onclick="ToggleCommentField">Answer</button>
		@if (_showCommentField)
		{
			<CommentField Thread="@CommentModel.Thread" Comment="@CommentModel" UpdateHandler="UpdateHandlerComponent"/>
		}

		@* ReSharper disable once UnusedVariable *@
		@if (CommentModel.Childs is not null)
		{
			@foreach (var c in CommentModel.Childs)
			{
				<Comment CommentModel="c" UpdateHandler="UpdateHandler" />
			}
		}
	</span>
</div>

@code {
	private bool _showCommentField = false;
	private string _collapseClass = "";
	private string _clpMsg = "-";

	[Parameter]
	public Entity.Comment CommentModel { get; set; }
	
	[Parameter]
	public CommentField.Update UpdateHandler { get; set; }

	/// <summary>
	/// Toggles visibility of the comment field.
	/// </summary>
	private void ToggleCommentField()
	{
		_showCommentField = !_showCommentField;
		StateHasChanged();
	}

	/// <summary>
	/// Hide the comment field.
	/// </summary>
	private void CloseCommentField()
	{
		_showCommentField = false;
	}

	/// <summary>
	/// Show the comment field.
	/// </summary>
	private void OpenCommentField()
	{
		_showCommentField = true;
	}

	/// <summary>
	/// Collapses the comment.
	/// </summary>
	private void Collapse()
	{
		if ("collapsed" == _collapseClass)
		{
			_collapseClass = "";
			_clpMsg = "-";
		}
		else
		{
			_collapseClass = "collapsed";
			_clpMsg = CommentModel.CountChildren + " more";
		}
	}

	private async Task UpdateHandlerComponent()
	{
		CloseCommentField(); // Add our own action to the update handler
		await UpdateHandler(); // Propagate event to parent
	}
}
