@using Forum.Entity
@using System.IO 
@* ReSharper disable once InconsistentNaming *@
@inject NavigationManager NavMan 

<div @onclick="OpenThread" style="border-bottom: 0.1rem solid #9BAEC8; border-radius: 0; cursor: pointer" class="needs-padding shiny">
	<p class="p-annotation-sm">
		@ThreadModel.Creator.AccountName@@@ThreadModel.Forum.Name
		@ThreadModel.Created.ToString("t"), @ThreadModel.Created.ToString("d")
	</p>
	<h5 class="txt-title">@ThreadModel.Title</h5>
	<pre class="main">@Content</pre>
	@{
		var tagText = "";
		@foreach (var t in ThreadModel.Tags)
		{
			tagText += ' ' + t.Name;
		}
	}
	<small>Tags: @tagText</small>
</div>

@code {
	[Parameter]
	public Thread ThreadModel { get; set; }

	private string Content
	{
		get
		{
			if (ThreadModel.IsDeleted)
			{
				return "[ Thread deleted. ]";
			}

			if (string.IsNullOrEmpty(ThreadModel.ContentPath)) return "";
			
			try
			{
				var path = ThreadModel.ContentPath;
				var streamReader = new StreamReader(path);
				var buffer = new char[1000];
				streamReader.Read(buffer);
				streamReader.Close();
				
				// Strings in C# are _not_ null-terminated.
				var trimmed = new string(buffer).Trim('\0');
				return trimmed.Replace('\n', ' ');
			}
			catch (Exception)
			{
				return "[ An error occurred. ]";
			}
		}
	}

	private void OpenThread()
	{
		NavMan.NavigateTo("/thread/" + ThreadModel.Id);
	}
}
