@using Forum.Entity
@using System.IO 
@* ReSharper disable once InconsistentNaming *@
@inject NavigationManager NavMan 

<div @onclick="OpenThread" style="border-bottom: 0.1rem solid #9BAEC8; border-radius: 0; cursor: pointer" class="needs-padding shiny">
	<p class="p-annotation-sm">
		@ThreadModel.Creator.AccountName@@@ThreadModel.Forum.Name
		@ThreadModel.Created.ToString("t"), @ThreadModel.Created.ToString("d")
	</p>
	<h5 class="txt-title">@ThreadModel.Title</h5>
	<pre class="main">@_content</pre>
	@{
		var tagText = "";
		@foreach (var t in ThreadModel.Tags)
		{
			tagText += ' ' + t.Name;
		}
	}
	<small>Tags: @tagText</small>
</div>

@code {
	[Parameter]
	public Thread ThreadModel { get; set; }

	private string _content;

	protected override async Task OnInitializedAsync()
	{
		if (ThreadModel.IsDeleted)
		{
			_content = "[ Thread deleted. ]";
		}
		else if (!string.IsNullOrEmpty(ThreadModel.ContentPath))
		{
			try
			{
				var path = ThreadModel.ContentPath;

				var streamReader = new StreamReader(path);

				var buffer = new char[1000];
				await streamReader.ReadAsync(buffer);

				// Strings in C# are _not_ null-terminated.
				_content = new string(buffer).Trim('\0');
				_content = _content.Replace('\n', ' ');

				streamReader.Close();
			}
			catch (Exception)
			{
				_content = "[ An error occurred. ]";
			}
		}
	}

	private void OpenThread()
	{
		NavMan.NavigateTo("/thread/" + ThreadModel.Id);
	}
}
